@using Gestione.Controllers;
@{
    ViewBag.Title = "Aggiungi Giorno";

}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    input {
    }
</style>
<h2>@ViewBag.Title</h2>
<div class="text-danger container">
    <h4>@ViewBag.Message</h4>
</div>
<br>
@if (ViewBag.ListaComesse == null) {
    <div class="row">
        <div class=" col-md-6">
            @using (Html.BeginForm("AddGiorno", "Home", FormMethod.Post)) {
                <div class="Conteiner">
                    Data (*)          <input type="date" name="dateTime" max="@DateTime.Today.ToString("yyyy-MM-dd")" required />
                    <br><br>
                    <form method="get">
                        Tipologia Ore (*)
                        @*<input list="HType" name="tipoOre">*@
                        <select id="HType" name="tipoOre">
                            <option value="Seleziona tipo Ore" />Seleziona tipo Ore
                            <option value="Ore di lavoro" />Ore di lavoro
                            <option value="Ore di permesso" />Ore di permesso
                            <option value="Ore di ferie" />Ore di ferie
                            <option value="Ore di malattia" />Ore di malattia
                        </select>
                    </form>
                    <br><br>
                    Nome Commessa <input type="text" name="Commessa" placeholder=" - - - " /> (Solo per ore di lavoro)
                        <div class="container h2">
                            @ViewBag.NomeCommessa
                        </div>
                        <hr />
                    <br><br>
                    Numero Ore:  (*)  <input type="number" name="ore" min=1 max=8>
                    <br><br>
                    <input type="submit" name="caricaOre" value="Carica Ore" />
                    <br><br>
                </div>
            }
            <p>(*) Campi obligatori</p>
            <br><br>
            @if (ViewBag.GeCoDataTime != null) {
                <p>@ViewBag.GeCoDataTime.ToString("yyyy-MM-dd")</p>}
            <p>@ViewBag.EsitoAddGiorno</p>
            <br><br>
        </div>
        <div class=" col-md-6">
            @if (ViewBag.Giorno != null) {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Dettagli del @ViewBag.Giorno.data.ToString("dd-MM-yyyy")
                    </div>
                    <table>
                        <tr>
                            <td>Tipo</td>
                            <td>Totale ore</td>
                            <td>Commessa</td>
                            <td>Ore lavoro commessa</td>
                            <td>Note</td>
                        </tr>
                        @{
                            int count = 0;
                        }
                        @foreach (Gestione.Controllers.OreLavorate orelavorate in ViewBag.Giorno.OreLavorate) {
                            <tr>
                                @if (count == 0) {
                                    <td>Totale ore lavoro</td>
                                    <td>@ViewBag.Giorno.TotOreLavorate</td>
                                    count++;
                                } else {
                                    <td></td>
                                    <td></td>
                                }
                                <td>@orelavorate.nome</td>
                                <td>@orelavorate.oreGiorno</td>
                                <td>@orelavorate.descrizione</td>
                            </tr>
                        }
                        <tr>
                            <td>Totale ore permesso</td>
                            <td>@ViewBag.Giorno.OrePermesso</td>
                        </tr>
                        <tr>
                            <td>Totale ore malattia</td>
                            <td>@ViewBag.Giorno.OreMalattia</td>
                        </tr>
                        <tr>
                            <td>Totale ore ferie</td>
                            <td>@ViewBag.Giorno.OreFerie</td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    </div>
} else if(ViewBag.ListaCommesse >1) {
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome Commessa</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 1;}
            @foreach (DTCommessa dtc in ViewBag.Commesse) {
                <tr>
                    <th scope="col">@i</th>
                    <th scope="col">
                        @dtc.Nome
                        <span class="badge" style="float:right; color:black; background-color:lightgray">
                            @Html.ActionLink("Seleziona", "AddGiorno", new { nome = dtc.Nome })
                        </span>
                    </th>
                </tr>
                i++;
            }
    </table>
}