@if(ViewBag.CV == null) {
    ViewBag.Title = "Compila il tuo Curriculum";
} else {
    ViewBag.Title = "Dettaglio Curriculum";
}

<h2 id="titolo">@ViewBag.Title</h2>
<div class="text-warning">
    <h4>@ViewBag.Message</h4>
</div>

<div class="containter">
    @if(ViewBag.CV == null) {
        using(Html.BeginForm("AggiungiCurriculum","Home",FormMethod.Post)) {
            <fieldset>
                <legend>Dati Anagrafici:</legend>
                <div class="row">
                    <div class="col-md-2">
                        Nome:*
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("nome",null,new { placeholder = "Inserisci il nome" })
                    </div>
                    <div class="col-md-2">
                        Cognome:*
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("cognome",null,new { placeholder = "Inserisci il cognome" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Età:*
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("eta",null,new { placeholder = "Inserisci l'eta'" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        E-mail:*
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("email",null,new { placeholder = "Inserisci il e-mail" })
                    </div>
                    <div class="col-md-2">
                        Residenza:*
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("residenza",null,new { placeholder = "Inserisci la residenza" })
                    </div>
                    <div class="col-md-2">
                        Telefono:*
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("telefono",null,new { placeholder = "Inserisci il telefono" })
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Percorso Studi:</legend>
                <div class="row">
                    <div class="col-md-2">
                        Anno Inizio:
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("annoinizio",null,new { placeholder = "Inserisci l'anno d'inizio" })
                    </div>
                    <div class="col-md-2">
                        Anno Fine:
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("annofine",null,new { placeholder = "Inserisci l'anno di fine" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Titolo*:
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("titolo",null,new { placeholder = "Inserisci il titolo" })
                    </div>
                    <div class="col-md-2">
                        Descrizione:
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("descrizione",null,new { placeholder = "Inserisci la descrizione" })
                    </div>
                </div>
            </fieldset>
            <br />
            <fieldset>
                <legend>Esperienze Lavorative:</legend>
                <div class="row">
                    <div class="col-md-2">
                        Anno Inizio:
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("annoinizioesp",null,new { placeholder = "Inserisci l'anno d'inizio" })
                    </div>
                    <div class="col-md-2">
                        Anno Fine:
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("annofinesp",null,new { placeholder = "Inserisci l'anno di fine" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Qualifica*:
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("qualifica",null,new { placeholder = "Inserisci la qualifica" })
                    </div>
                    <div class="col-md-2">
                        Descrizione:
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("descrizionesp",null,new { placeholder = "Inserisci la descrizione" })
                    </div>
                </div>
            </fieldset>
            <br />
            <fieldset>
                <legend>Competenze:</legend>
                <div class="row">
                    <div class="col-md-2">
                        Tipo:
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("tipo",null,new { placeholder = "Inserisci il tipo" })
                    </div>
                    <div class="col-md-2">
                        Livello*:
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("livello",null,new { placeholder = "Inserisci il il livello" })
                    </div>
                </div>
            </fieldset>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <input class="btn btn-default" type="submit" value="Aggiungi">
                </div>
            </div>
        }
    } else {
        using(Html.BeginForm("ModificaCv","Home",FormMethod.Post)) {
            <div id="anag">
                <fieldset>
                    <legend>Dati Anagrafici:</legend>
                    <div class="row">
                        <div class="col-md-2">
                            Nome:*
                        </div>
                        <div class="col-md-2">
                            <label id="nomeV">@ViewBag.CV.Nome</label>
                            <input style="display:none" id="nome" name="nome" type="text" value="@ViewBag.CV.Nome" />
                        </div>
                        <div class="col-md-2">
                            Cognome:*
                        </div>
                        <div class="col-md-2">
                            <label id="cognomeV">@ViewBag.CV.Cognome</label>
                            <input style="display:none" id="cognome" name="cognome" type="text" value="@ViewBag.CV.Cognome" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            Età:*
                        </div>
                        <div class="col-md-2">
                            <label id="etaV">@ViewBag.CV.Eta</label>
                            <input style="display:none" id="eta" name="eta" type="number" value="@ViewBag.CV.Eta" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            E-mail:*
                        </div>
                        <div class="col-md-2">
                            <label id="emailV">@ViewBag.CV.Email</label>
                            <input style="display:none" id="email" name="email" type="text" value="@ViewBag.CV.Email" />
                        </div>
                        <div class="col-md-2">
                            Residenza:*
                        </div>
                        <div class="col-md-2">
                            <label id="residenzaV">@ViewBag.CV.Residenza</label>
                            <input style="display:none" id="residenza" name="residenza" type="text" value="@ViewBag.CV.Residenza" />
                        </div>
                        <div class="col-md-2">
                            Telefono:*
                        </div>
                        <div class="col-md-2">
                            <label id="telefonoV">@ViewBag.CV.Telefono</label>
                            <input style="display:none" id="telefono" name="telefono" type="text" value="@ViewBag.CV.Telefono" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <input id="nascondi" class="btn btn-default" type="button" OnClick="ModAnag('anag')" value="Modifica" />
                            <input id="rivela" class="btn btn-default" style="display:none" type="submit" value="Salva Modifiche">
                        </div>
                    </div>
                </fieldset>
            </div>
    }
            <fieldset>
                @using(Html.BeginForm("AddPerStud","Home",FormMethod.Post)) {
            <legend>Percorso Studi:</legend>
            <div class="row">
                <div class="col-md-2">
                    Anno Inizio:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("annoinizio",null,new { placeholder = "Inserisci l'anno d'inizio" })
                </div>
                <div class="col-md-2">
                    Anno Fine:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("annofine",null,new { placeholder = "Inserisci l'anno di fine" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Titolo*:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("titolo",null,new { placeholder = "Inserisci il titolo" })
                </div>
                <div class="col-md-2">
                    Descrizione:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("descrizione",null,new { placeholder = "Inserisci la descrizione" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <input class="btn btn-default" type="submit" value="Aggiungi">
                </div>
            </div>
}
                <hr />
                @for(int i = 0; i < ViewBag.CV.Percorsostudi.Count; i++) {
        using(Html.BeginForm("ModStudi","Home",FormMethod.Post)) {
            <div name="@i">
                <div class="row">
                    <div class="col-md-2">
                        Anno Inizio:
                    </div>
                    <div class="col-md-2">
                        <label id="annoInizioV">@ViewBag.CV.Percorsostudi[i].AnnoInizio</label>
                        <input style="display:none" id="annoInizio" name="annoinizio" type="number" value="@ViewBag.CV.Percorsostudi[i].AnnoInizio" />
                    </div>
                    <div class="col-md-2">
                        Anno Fine:
                    </div>
                    <div class="col-md-2">
                        <label id="annoFineV">@ViewBag.CV.Percorsostudi[i].AnnoFine</label>
                        <input style="display:none" id="annoFine" name="annofine" type="number" value="@ViewBag.CV.Percorsostudi[i].AnnoFine" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Titolo*:
                    </div>
                    <div class="col-md-2">
                        <label id="titoloV">@ViewBag.CV.Percorsostudi[i].Titolo</label>
                        <input style="display:none" id="titolo" name="titolo" type="text" value="@ViewBag.CV.Percorsostudi[i].Titolo"  />
                    </div>
                    <div class="col-md-2">
                        Descrizione:
                    </div>
                    <div class="col-md-2">
                        <label id="descrizioneV">@ViewBag.CV.Percorsostudi[i].Descrizione</label>
                        <input style="display:none" id="descrizione" name="descrizione" type="text" value="@ViewBag.CV.Percorsostudi[i].Descrizione" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">            
                        <input id="modifica" class="btn btn-default" type="submit" value="Modifica"/>
                    </div>
                </div>
            </div>
            <div>
                <input style="display:none" id="annoInizioV" value="@ViewBag.CV.Percorsostudi[i].AnnoInizio" type="number" />
                <input style="display:none" id="annoFineV" value="@ViewBag.CV.Percorsostudi[i].AnnoFine" type="number" />
                <input style="display:none" id="titoloV" value="@ViewBag.CV.Percorsostudi[i].Titolo" type="text" />
                <input style="display:none" id="descrizioneV" value="@ViewBag.CV.Percorsostudi[i].Descrizione" type="text" />
            </div>
}
}
            </fieldset>
    <br />
    <fieldset>
        @using(Html.BeginForm("AddEspLav","Home",FormMethod.Post)) {
        <legend>Esperienze Lavorative:</legend>
        <div class="row">
            <div class="col-md-2">
                Anno Inizio:
            </div>
            <div class="col-md-2">
                @Html.TextBox("annoinizioesp",null,new { placeholder = "Inserisci l'anno d'inizio" })
            </div>
            <div class="col-md-2">
                Anno Fine:
            </div>
            <div class="col-md-2">
                @Html.TextBox("annofinesp",null,new { placeholder = "Inserisci l'anno di fine" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                Qualifica*:
            </div>
            <div class="col-md-2">
                @Html.TextBox("qualifica",null,new { placeholder = "Inserisci la qualifica" })
            </div>
            <div class="col-md-2">
                Descrizione:
            </div>
            <div class="col-md-2">
                @Html.TextBox("descrizionesp",null,new { placeholder = "Inserisci la descrizione" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input class="btn btn-default" type="submit" value="Aggiungi">
            </div>
        </div>
}
        <hr />
        @for(int i = 0; i < ViewBag.CV.Esperienze.Count; i++) {
            using(Html.BeginForm("ModEspLav","Home",FormMethod.Post)) {
                <div name="@i">
                    <div class="row">
                        <div class="col-md-2">
                            Anno Inizio:
                        </div>
                        <div class="col-md-2">
                            <label id="annoInizioEspV">@ViewBag.CV.Esperienze[i].AnnoInizio</label>
                            <input id="annoInioEsp" style="display:none" name="annoinizio" type="text" value="@ViewBag.CV.Esperienze[i].AnnoInizio"/>
                        </div>
                        <div class="col-md-2">
                            Anno Fine:
                        </div>
                        <div class="col-md-2">
                            <label id="annoFineEspV">@ViewBag.CV.Esperienze[i].AnnoFine</label>
                            <input id="annoFineEsp" style="display:none" name="annofine" type="text" value="@ViewBag.CV.Esperienze[i].AnnoFine"/>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            Qualifica*:
                        </div>
                        <div class="col-md-2">
                            <label id="qualificaV">@ViewBag.CV.Esperienze[i].Qualifica</label>
                            <input id="qualifica" style="display:none" name="qualifica" type="text" value="@ViewBag.CV.Esperienze[i].Qualifica" required/>
                        </div>
                        <div class="col-md-2">
                            Descrizione:
                        </div>
                        <div class="col-md-2">
                            <label id="descrizioneEspV">@ViewBag.CV.Esperienze[i].Descrizione</label>
                            <input id="descrizioneEsp" style="display:none" name="descrizione" type="text" value="@ViewBag.CV.Esperienze[i].Descrizione" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <input id="modificaEsp" class="btn btn-default" type="button" OnClick="ModEspLav(@i)" value="Modifica" />
                            <input id="salva" class="btn btn-default" style="display:none" type="submit" value="Salva Modifiche">
                        </div>
                    </div>
                </div>
                <div>
                    <input style="display:none" id="annoInizioEspV" value="@ViewBag.CV.Esperienze[i].AnnoInizio" type="number"/>
                    <input style="display:none" id="annoFineEspV" value="@ViewBag.CV.Esperienze[i].AnnoFine" type="number"/>
                    <input style="display:none" id="qualificaV" value="@ViewBag.CV.Esperienze[i].Qualifica" type="text"/>
                    <input style="display:none" id="descrizioneEspV" value="@ViewBag.CV.Esperienze[i].Descrizione" type="text" />
                </div>
            }
        }
</fieldset>
    <br />
    <fieldset>
        @using(Html.BeginForm("AddComp","Home",FormMethod.Post)) {
            <legend>Competenze:</legend>
            <div class="row">
                <div class="col-md-2">
                    Tipo*:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("tipo",null,new { placeholder = "Inserisci il tipo" })
                </div>
                <div class="col-md-2">
                    Livello:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("livello",null,new { placeholder = "Inserisci il il livello" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <input class="btn btn-default" type="submit" value="Aggiungi">
                </div>
            </div>
        }
        <hr />
        @for(int i = 0; i < ViewBag.CV.Competenze.Count; i++) {
            using(Html.BeginForm("ModComp","Home",FormMethod.Post)) {
                <div name="@i">
                    <div class="row">
                        <div class="col-md-2">
                            Tipo*:
                        </div>
                        <div class="col-md-2">
                            <label id="tipoV">@ViewBag.CV.Competenze[i].Titolo</label>
                            <input id="tipo" style="display:none" name="tipo" type="text" value="@ViewBag.CV.Competenze[i].Titolo" required/>
                        </div>
                        <div class="col-md-2">
                            Livello:
                        </div>
                        <div class="col-md-2">
                            <label id="livelloV">@ViewBag.CV.Competenze[i].Livello</label>
                            <input id="livello" style="display:none" name="livello" type="number" value="@ViewBag.CV.Competenze[i].Livello" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <input id="modificaComp" class="btn btn-default" type="button" OnClick="ModComp(@i)" value="Modifica" />
                            <input id="salva" style="display:none" class="btn btn-default" type="submit" value="Salva Modifiche">
                        </div>
                    </div>
                </div>
            }
        }
</fieldset>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-default" href="/Home/MyPage" role="button">Torna Indietro</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" href="/Home/EliminaCV" role="button">Elimina</a>
        </div>
    </div>
}
</div>

<script>
    function ModAnag(i) {
        var nascondi = document.getElementById("nascondi");
        var rivela = document.getElementById("rivela");
        var nomev = document.getElementById("nomeV");
        var nome = document.getElementById("nome");
        var cognomev = document.getElementById("cognomeV");
        var cognome = document.getElementById("cognome");
        var etav = document.getElementById("etaV");
        var eta = document.getElementById("eta");
        var emailv = document.getElementById("emailV");
        var email = document.getElementById("email");
        var residenzav = document.getElementById("residenzaV");
        var residenza = document.getElementById("residenza");
        var telefonov = document.getElementById("telefonoV");
        var telefono = document.getElementById("telefono");
        rivela.style.display = "inherit";
        nascondi.style.display = "none";
        nomev.style.display = "none";
        nome.style.display = "inherit";
        cognomev.style.display = "none";
        cognome.style.display = "inherit";
        etav.style.display = "none";
        eta.style.display = "inherit";
        emailv.style.display = "none";
        email.style.display = "inherit";
        telefonov.style.display = "none";
        telefono.style.display = "inherit";
        residenzav.style.display = "none";
        residenza.style.display = "inherit";
    }
    Element.prototype.getElementById = function (id) {
        return document.getElementById(id);
    }
    function ModPerStud(i) {
        var div = document.getElementsByName(i)[0];
        var annoiniziov = div.getElementById("annoInizioV");
        var annofinev = div.getElementById("annoFineV");
        var titolov = div.getElementById("titoloV");
        var descrizionev = div.getElementById("descrizioneV");
        var button = div.getElementById("modifica");
        annoiniziov.style.display = "none";
        annofinev.style.display = "none";
        titolov.style.display = "none";
        descrizionev.style.display = "none";
        for (i = 0; i < div.getElementsByTagName("input").length; i++) {
            div.getElementsByTagName("input")[i].style.display = "inherit";
        }
        button.style.display = "none";
    }
    function ModEspLav(i) {
        var div = document.getElementsByName(i)[1];
        var annoiniziov = div.getElementById("annoInizioEspV");
        var annofinev = div.getElementById("annoFineEspV");
        var qualificav = div.getElementById("qualificaV");
        var descrizionev = div.getElementById("descrizioneEspV");
        var button = div.getElementById("modificaEsp");
        annoiniziov.style.display = "none";
        annofinev.style.display = "none";
        qualificav.style.display = "none";
        descrizionev.style.display = "none";
        for (i = 0; i < div.getElementsByTagName("input").length; i++) {
            div.getElementsByTagName("input")[i].style.display = "inherit";
        }
        button.style.display = "none";
    }
    function ModComp(i) {
        var div = document.getElementsByName(i)[2];
        var tipov = div.getElementById("tipoV");
        var livellov = div.getElementById("livelloV");
        var button = div.getElementById("modificaComp");
        tipov.style.display = "none";
        livellov.style.display = "none";
        for (i = 0; i < div.getElementsByTagName("input").length; i++) {
            div.getElementsByTagName("input")[i].style.display = "inherit";
        }
        button.style.display = "none";
    }
</script>