
@{
    ViewBag.Title = "ElencoCorsi";
}

<h1>ElencoCorsi</h1>
<body>

    <div class="row">
        <div class="col-lg-6">
            @ViewBag.Message;

        </div>
        <div class="col-md-6" style="text-align:right">
            @using(Html.BeginForm("ElencoCorsi","Home",FormMethod.Post)) {
            @Html.TextBox("descrizione",null,new { placeholder = "Inserici Descrizione" })
                 <input type="submit" value="Cerca">

}
            @Html.ActionLink("MieiCorsi","ElencoCorsiMieiCorsi")
        </div>
    </div>
    <div>
        <div class=" container">
            <ul class="list-group">
                @foreach(var corso in ViewBag.Corsi) {
                <li class="list-group-item">

                    @corso.Nome @corso.Id - @corso.Descrizione -
                    <span class="badge">
                        @*@Html.ActionLink("DETTAGLI","Corso",new { id = corso.ID })*@
                    </span>
                </li>
                 }
            </ul>

        </div>
    </div>
</body>

