@using Interfaces;
@{
    ViewBag.Title = "Elenco curriculum";
}
<!-- <h2>@ViewBag.Title</h2> -->
<h3>@ViewBag.Message</h3>

<div class="containter">
    <div class="panel panel-primary">
        <div class="panel-heading">Lista Curriculum</div>
        @using(Html.BeginForm("EliminaCV","Home",FormMethod.Post)) {
            <table class="table">
                <tr>
                    <th style="border-right: 1px solid #dddddd; text-align:center">Nome</th>
                    <th style="border-right: 1px solid #dddddd; text-align:center">Cognome</th>
                    <th style="border-right: 1px solid #dddddd; text-align:center">Eta'</th>
                    <th style="border-right: 1px solid #dddddd; text-align:center">Numero di Telefono</th>
                </tr>
                @if(ViewBag.ListaCV != null) {
                    foreach(CV cv in ViewBag.ListaCV) {
                        <tr>
                            <td style="border-right: 1px solid #dddddd;">
                                @cv.Nome
                            </td>
                            <td style="border-right: 1px solid #dddddd;">
                                @cv.Cognome
                            </td>
                            <td style="border-right: 1px solid #dddddd; text-align:center">
                                @cv.Eta
                            </td>
                            <td style="border-right: 1px solid #dddddd; text-align:center">
                                @cv.Telefono
                            </td>
                            <td style="border-right: 1px solid #dddddd; text-align:center">
                                <a class="btn btn-default" href="/Home/DettCv/@cv.Matricola">Dettaglio</a>
                            </td>
                            <td style="border-right: 1px solid #dddddd; text-align:center">
                                <a class="btn btn-default" href="/Home/EliminaCV/@cv.Matricola">Elimina</a>
                            </td>
                        </tr>
                    }
                }
            </table>
         }
    </div>
</div>