@{
    ViewBag.Title = "Modifica Esperienza Lavorativa";
}
<h2>@ViewBag.Title</h2>
<div class="text-warning">
    <p>@ViewBag.Message</p>
</div>

@using(Html.BeginForm("ModificaEspLav","Home",FormMethod.Post)){
    <div class="row">
        <div class="col-md-2">
            Anno Inizio:
        </div>
        <div class="col-md-2">
            <input id="annoInizioEsp" style="display:none" name="annoInizioEsp" type="text" value="@ViewBag.Esperienza.AnnoInizio" />
        </div>
        <div class="col-md-2">
            Anno Fine:
        </div>
        <div class="col-md-2">
            <input id="annoFineEsp" style="display:none" name="annoFineEsp" type="text" value="@ViewBag.Esperienza.AnnoFine" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            Qualifica*:
        </div>
        <div class="col-md-2">
            <input id="qualifica" style="display:none" name="qualifica" type="text" value="@ViewBag.Esperienza.Qualifica" required/>
        </div>
        <div class="col-md-2">
            Descrizione:
        </div>
        <div class="col-md-2">
            <input id="descrizioneEsp" style="display:none" name="descrizioneEsp" type="text" value="@ViewBag.Esperienza.Descrizione" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <input class="btn btn-default" type="submit" value="Modifica">
        </div>
    </div>
}