
@{
    ViewBag.Title = "ModificaLezione";
}
<h2>@ViewBag.Message</h2>
<h2>Modifica lezione</h2>
@using(Html.BeginForm("ModificaLezionePost","Home",FormMethod.Post)) {

<table style="width:100% ;  background-color:lightgray">
    <thead>
        <tr class="row">
            <th scope="col">Nome</th>
            <th>  <input name="LezNome" value="@ViewBag.Lezione.Nome" /></th>
        </tr >
        <tr class="row">
            <th scope="col">Descrizione</th>
            <th>  <textarea name="LezDescrizione" value="@ViewBag.Lezione.Descrizione" rows="4" cols="50" required>@ViewBag.Lezione.Descrizione</textarea></th>
        </tr>
        <tr class="row">
            <th scope="col">Durata</th>
            <th>
                <input name="LezDurata" value="@ViewBag.Lezione.Durata" type="number" required />
                <input name="idCorso" type="hidden" value="@ViewBag.Id" />
                <input name="idLezione" type="hidden" value="@ViewBag.Lezione.Id" />
            </th>
        </tr>
        <tr  >
            <th  align="right">   <input type="submit" value="Modifica" /></th>
        </tr>
    </thead>
</table>
 
        <div>
            <span class="bottone"> @Html.ActionLink("Elenco corsi","ElencoCorsi","Home")</span>
            <span classs="badge">
                @Html.ActionLink("Lista Lezioni","Corso",new { idCorso = ViewBag.CorsoId })
            </span>
        </div>


}