@{
    ViewBag.Title = "Modifica Esperienza Lavorativa";
}
<h2>@ViewBag.Title</h2>
<div class="text-warning">
    <p>@ViewBag.Message</p>
</div>

@using(Html.BeginForm("ModPerStud","Home",FormMethod.Post)){
    <div class="row">
        <div class="col-md-2">
            Anno Inizio:
        </div>
        <div class="col-md-2">
            <input id="annoInizio" name="annoInizio" type="number" value="@ViewBag.Percorso.AnnoInizio" />
        </div>
        <div class="col-md-2">
            Anno Fine:
        </div>
        <div class="col-md-2">
            <input id="annoFine" name="annoFine" type="number" value="@ViewBag.Percorso.AnnoFine" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            Qualifica*:
        </div>
        <div class="col-md-2">
            <input id="titolo" name="titolo" type="text" value="@ViewBag.Percorso.Titolo" required/>
        </div>
        <div class="col-md-2">
            Descrizione:
        </div>
        <div class="col-md-2">
            <input id="descrizione" name="descrizione" type="text" value="@ViewBag.Percorso.Descrizione" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <input class="btn btn-default" type="submit" value="Modifica">
        </div>
    </div>
}