@using System;
@using Interfaces;
@using DAO;
@using Gestione.Controllers;

@{
    ViewBag.Title = "Dettaglio del Mese";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    input {
    }
</style>

<h2>@ViewBag.Title</h2>
<br />
<div>
    @if(ViewBag.Message != null) {
        <h3 class="alert alert-warning">@ViewBag.Message</h3>
    }
    <h4>Inserire l'anno di cui si vogliono visualizzare i dettagli</h4>
</div>
<div>
    <form action="/Home/VisualizzaMese" method="post">
        <select name="anno" required>
            @for(int a =2000;a<=DateTime.Now.Year; a++){
                <option value="@a">
                    @a
                </option>
            }
        </select>
        <select name="mese" required>
            @for(int a =1;a<=12; a++){
                <option value="@a">
                    @a
                </option>
            }
        </select>
        <input type="submit" value="Visualizza" class="btn info" style="color:white; background-color: #2196F3; background: #0b7dda;" />
    </form>
</div>
@if (ViewBag.Mese!=null && ViewBag.Mese.Count>0){
<br>
    <div class="panel panel-default">
        <table>
            <tr>
                <td>@ViewBag.Mese[0].data.Year</td>
                @if(ViewBag.Mese[0].data.Month = 1) {
                    <td>
                        <input type="submit" value="Gennaio" class="btn info" style="color:white; background-color: #2196F3; background: #0b7dda;" />
                    </td>
                } else {
                    <td>Gennaio</td>
                }
                <td>Febbraio</td>
                <td>Marzo</td>
                <td>Aprile</td>
                <td>Maggio</td>
                <td>Giugno</td>
                <td>Luglio</td>
                <td>Agosto</td>
                <td>Settembre</td>
                <td>Ottobre</td>
                <td>Novembre</td>
                <td>Dicembre</td>
            </tr>
        </table>
    </div>
        <div class="panel panel-default">
            <div class="panel-heading">Dettagli del mese di:</div>
            <table>
                <tr>
                    <td></td>
                    @foreach(DTGiornoDMese giornoLav in ViewBag.Mese) {
                        <td>@giornoLav.data.Date</td>
                    }
                </tr>
                <tr>
                    <td>Ore Lavoro</td>
                    @foreach(DTGiornoDMese giornoLav in ViewBag.Mese) {
                        <td>@giornoLav.TotOreLavorate</td>
                    }
                </tr>
                <tr>
                    <td>Ore Permesso</td>
                    @foreach(DTGiornoDMese giornoLav in ViewBag.Mese) {
                        <td>@giornoLav.OrePermesso</td>
                    }
                </tr>
                <tr>
                    <td>Ore Ferie</td>
                    @foreach(DTGiornoDMese giornoLav in ViewBag.Mese) {
                        <td>@giornoLav.OreFerie</td>
                    }
                </tr>
                <tr>
                    <td>Ore Malattia</td>
                    @foreach(DTGiornoDMese giornoLav in ViewBag.Mese) {
                        <td>@giornoLav.OreMalattia</td>
                    }
                </tr>
            </table>
        </div>
    }
