<!DOCTYPE html>
<html>
<head>
    <style>
        #myBtn {
            display: none;
            position: fixed;
            bottom: 5%;
            left: 10%;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }
            #myBtn:hover {
                background-color: lightgray;
            }
        .img{
            padding-left:0px; 
            padding-top:0px; 
        }
        .row {
            padding: 2px;
            text-align: left;
            border-bottom: 2px solid black;
        }
        .image {
            width: 100px;
            height:100px;
        }
        .tre{
         padding-left:5%;
         padding-right:5%;
        }
       
    </style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione Gestione</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:0px;">
   <div class="row">

       <nav class="navbar navbar-expand-lg navbar-light bg-light" >
           <a href="/Home/Index" class="navbar-brand">
               <img src="~/ImgResource/Logo.jpg" height="100" width="200">
           </a>
           <div class="collapse navbar-collapse " id="navbarSupportedContent" style="padding-left:30%;">    
                        <a class="nav-link tre"href="/Home/ElencoCorsi"><img  class="image" src="~/ImgResource/IconCorsi.jpg"  > </a>
                   
                        <a class="nav-link tre"href="/Home/GeTimeHome" ><img class="image" src="~/ImgResource/Ore.jpg"  ></a>
                   
                        <a class="nav-link tre" href="/Home/MyPage"><img class="image" src="~/ImgResource/CV.png" ></a>
               </div>
</nav>
   </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
        <footer style="border-top:2px solid black;">

            <p style="text-align:center;">ALFA SOFT S.R.L - Corso Svizzera , 185 , 10149 Torino</p>

            <p style="text-align:center;">P.IVA - C.F:06925410018 , C.C.I.A:823541</p>
            <p style="text-align:center;">&copy; @DateTime.Now. </p>
        </footer>

        <button onclick="topFunction()" id="myBtn"><span class="glyphicon glyphicon-chevron-up "></span></button>
        <script>
            window.onscroll = function () { scrollFunction() };
            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("myBtn").style.display = "block";
                } else {
                    document.getElementById("myBtn").style.display = "none";
                }
            }
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts",required: false)
</body>
</html>
